.container_content {
  @apply flex flex-col pt-[30px] gap-[24px] px-[10px] 
  min-[470px]:gap-[55px] 
  lg:flex-row  lg:gap-0 lg:pr-[10px] lg:justify-end;
}

.space_1 {
  @apply hidden lg:block lg:grow lg:max-w-[160px];
}
.space_2 {
  @apply hidden lg:block lg:grow;
}
.space_3 {
  @apply hidden lg:block lg:grow lg:max-w-[160px];
}
.section_1 {
  @apply flex justify-center lg:pt-[30px] lg:pl-[70px];
}
.image {
  @apply h-[170px] overflow-hidden
  min-[470px]:h-[300px] 
  lg:h-[445px];
}
.section_2 {
  @apply flex flex-col items-center overflow-hidden lg:items-start;
}
.title {
  @apply text-[#FFFFFF] text-[56px] mt-[20px] text-center uppercase  
  min-[470px]:text-[80px] lg:text-[100px];
}
.text {
  @apply flex flex-col max-w-[327px] text-[#D0D6F9] font-normal leading-[25px] text-[15px] text-center 
  min-[470px]:max-w-[573px] min-[470px]:text-[16px] min-[470px]:leading-[28px]
  lg:max-w-[444px] lg:text-[18px] lg:leading-[32px] lg:text-left;
}

.rectangel {
  @apply w-[327px] h-[1px] bg-gray-700 mt-[32px] grow 
  min-[470px]:w-[573px] lg:w-[444px] lg:grow-0;
}
.footer {
  @apply flex flex-col gap-[25px] pt-[27px] items-center
  min-[470px]:flex-row min-[470px]:max-w-[573px] min-[470px]:gap-[15px] min-[470px]:pt-[29px]
  lg:max-w-[444px] lg:items-start lg:gap-[5px];
}
.distance {
  @apply flex flex-col justify-center  gap-[10px]
  lg:justify-start;
}
.distance_title {
  @apply w-[216px] text-[#D0D6F9] text-center text-[14px] tracking-[2.362px] h-[17px] uppercase
  lg:text-left;
}
.distance_volume {
  @apply text-center text-[#FFFFFF] text-[28px] uppercase w-[216px] h-[32px]
  lg:text-left;
}
.time {
  @apply flex flex-col justify-center  gap-[12px]
  lg:justify-start;
}

.time_title {
  @apply flex flex-col w-[223px] text-[#D0D6F9] text-center text-[14px] h-[17px] tracking-[2.362px] uppercase
  lg:text-left;
}
.time_volume {
  @apply flex flex-col text-center text-[#FFFFFF] text-[28px] h-[32px] uppercase w-[223px]
  lg:text-left;
}
